extends layout 
block content
  div(class="booksContainer")
    if data == null
      h1(style="text-align: center;color: #ffffff") No Books
    else
      each item in data
        div
          div(class="card")
            div(class="card-title")
              h2= item.title
            div(class="card-body")
              if item.description.length > 50
                p= `${item.description.slice(0,50)}...`
              else
                p= item.description
            div(class="card-footer")
              span= item.author.name

          div(class="viewBtnBelowCard")
            a(href=`/delete/${item.id}` ) delete